/* MarkdownGame.css */

/* Default light mode variables */
:root {
    --goal-bg: #f4f4f4;
    --input-bg: #fff;
    --preview-bg: #f9f9f9;
    --border-color: #ddd;
    --text-color: #333;
}

/* Dark mode variables */
body.dark-mode {
    --goal-bg: #333;
    --input-bg: #444;
    --preview-bg: #555;
    --border-color: #666;
    --text-color: #fff;
}

.markdown-game-container {
    display: flex;
    height: 100%; /* Fill available height */
    width: 100%; /* Fill available width */
    overflow: hidden; /* Prevent scrolling */
}

.goal-section,
.input-section,
.preview-section {
    flex: 1;
    padding-left: 20px;
    box-sizing: border-box;
    color: var(--text-color);
    overflow-y: auto; /* Allow vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.goal-section {
    background-color: var(--goal-bg);
    border-right: 1px solid var(--border-color);
    padding-right:10px; /* This is especially for <hr> which run to the right end of their container*/
}

.input-section {
    background-color: var(--input-bg);
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    padding-top:20px;
}

.input-section textarea {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
    background-color: var(--input-bg);
    color: var(--text-color);
}

.preview-section {
    background-color: var(--preview-bg);
    overflow-y: auto;
}


/* Add this to your MarkdownGame.css file */

.markdown-output {
    white-space: pre-wrap; /* Maintain formatting */
    word-wrap: break-word; /* Allow wrapping */
    color: var(--text-color);
    padding: 20px; /* Add padding to the output area */
}

/* Reset margins and paddings for specific Markdown elements */
.markdown-output h1,
.markdown-output h2,
.markdown-output h3,
.markdown-output h4,
.markdown-output h5,
.markdown-output h6,
.markdown-output p{
    margin: 0; /* Remove default margin */
    margin-bottom: 10px; /* Add a consistent margin-bottom for spacing */
    padding: 0; /* Remove default padding */
}