/* General navbar layout */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--navbar-bg); /* Variable based on mode */
    border-bottom: 1px solid var(--navbar-border);
}

/* Title styling */
.navbar-title h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin: 0;
    color: var(--text-color); /* Variable based on mode */
}

/* Link styling */
.navbar-title h1 a {
    color: inherit; /* Use the same color as the h1 */
    text-decoration: none; /* Remove underline */
}
.navbar-title h1 a:hover {
    color: #666;
}


/* Level dropdown in the center */
.navbar-level {
    margin: 0 20px; /* Space between dropdown and links */
}

.navbar-level label {
    color: var(--text-color);
    margin-right: 5px; /* Small space between label and select */
}

.navbar-level select {
    background-color: var(--input-bg);
    color: var(--text-color);
}

/* Links styling */
.navbar-links {
    display: flex; /* Make links flex items */
    align-items: center; /* Center vertically */
}

.navbar-links a {
    color: var(--text-color);
    margin-left: 15px; /* Space between links */
}

/* Theme switcher (sun/moon icons) */
.theme-switcher {
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    margin-left: 15px; /* Space between last link and theme icon */
}

/* Dark Mode Variables */
body.dark-mode {
    --navbar-bg: #444;
    --navbar-border: #666;
    --text-color: white;
    --input-bg: #333;
}

/* Light Mode Variables */
body:not(.dark-mode) {
    --navbar-bg: #f0f0f0;
    --navbar-border: #ddd;
    --text-color: #333;
    --input-bg: #fff;
}
